
.gallery-wrap   {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-box {
    display: flex;
}
input{
    align-self: center;
    justify-self: center;
    width: 50%;
    text-align: center;
    margin: 10px auto 25px auto;
    border: $base-color solid 1px;
    border-radius: 5px;
    height: 30px;
    display: none;
}