*   {
  font-family: $main-font;
    box-sizing: border-box;
}

h1  {
  font-size:1.5em;
  align-self: center;
  justify-self: center;
  font-family: $main-font;
  color:$base-color;
  max-width: 90%; 
  
  align-self: center;
  @media(min-width:768px) {
    font-size:2em;
    
  }
}

a, p  {
    color:$base-color; 
    align-self: center;
}

