// LAYOUT

.gallery-wrap   {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-box {
    background: white;
    padding-top: 25px;
    justify-content: center;
    justify-self: center;
    align-content: flex-end;
    @media(min-width:768px){
        display: flex;
        align-self: center;
        justify-self: center;
        margin-top: auto;
        margin-bottom: auto;
        text-align:center;
        background: transparent;
        padding-top: 0px;
        
        
    }
    input{
        display: block;
        justify-self: center;
        align-self: center;
        text-align: center;
        margin:0 auto 0 auto;
        border: 1px $detail-color solid;
        border-radius: 5px;
        height: 30px;
        width:44%;
        min-width: 232px;
        @media(min-width:768px) {
            width: 300px;
        }
    }

}