// LAYOUT

.gallery-wrap   {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.search-box {
    display: none;
    @media(min-width:820px){
        display: block;
        align-self: center;
        justify-self: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    input{
        text-align: center;
        width: 300px;
        border: 1px $detail-color solid;
        border-radius: 5px;
        height: 30px;
    }

}


.mobile-search{
    
    display: flex;
    justify-content: center;
    margin:10px auto 25px auto;

    @media(min-width:820px) {
        display:none;
    }
    input{
        justify-self: center;
        text-align: center;
        width: 300px;
        border: 1px $detail-color solid;
        border-radius: 5px;
        height: 30px;
        width: 48%;
    }
}